[submodule "submodules/moonraker"]
	path = submodules/moonraker
	url = https://github.com/Arksine/moonraker
[submodule "submodules/buildroot"]
	path = submodules/buildroot
	url = https://github.com/pkejval/flashforge_adm5_buildroot_chroot
[submodule "submodules/klipper"]
	path = submodules/klipper
    url = https://github.com/Klipper3d/klipper
[submodule "submodules/KlipperScreen"]
	path = submodules/KlipperScreen
	url = https://github.com/KlipperScreen/KlipperScreen
